body{
    background-color: #f4f3ef
}
.custom-badge{
    font-size: 100%;
    margin: 2px;
    border-radius: 20px;
}
.custom-button{
    border-radius: 20px;
    border-width: 2px;
    margin: 4px;
}
.custom-button:disabled{
    color: #ccc;
    border-color: #ccc
}
td{
    vertical-align: middle !important;
}
.table-container{
    height: 100%;
    padding: 1em;
    border-radius: 6px;
}
.bg-dark {
    background-color: #212529!important;
}
nav  a {
    color: #fff
}
nav a:hover {
    color: #fff;
    text-decoration: unset;
}